.boxstyle
{
	spacing: 10px;
	margin: 5px;
}

.notestyle
{
	padding: 0px;
	margin: 0px;
}

.notestyle:hover
{
	padding: 0px;
	margin: 0px;
	box-shadow: 0px 0px 10px #000;
}

.textfield
{
	border-width: 0px;
	border-radius: 0px;
	box-shadow: none;
}

.textfield:hover
{
	border-width: 0px;
	border-radius: 0px;
}
